body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins';font-size: 22px;
}

.game {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.showTexButton {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-left: 20%;
    cursor: pointer;
    padding: 10px;
}

.hideTexButton {
    position: absolute;
    top: 60%;
    left: 0px;
    margin-left: 20%;
    cursor: pointer;
    padding: 10px;
}

.fpsLabel {
    position: absolute;
    top: 0px;
    left: 0px;
}

.staminaBar {
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
    width: 200px;
}

.scoreLabel {
    position: absolute;
    top: 5px;
    left: calc(50% - 60px);
    width: 150px;
    color: #fff;
}

.gameOverLabel {
    position: absolute;
    margin: 0 auto;
    top: 20px;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 26px;
    color: red;
}

.gameOverButton {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 100px;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

.gameOverScoreLabel {
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 26px;
    color: red;
}

.gameOverHighScoreLabel {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 26px;
    color: red;
}

.dpad {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}


.loadingLabel {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 30px;
    color: black;
}

