body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.game {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.showTexButton {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-left: 20%;
    cursor: pointer;
    padding: 10px;
}

.hideTexButton {
    position: absolute;
    top: 60%;
    left: 0px;
    margin-left: 20%;
    cursor: pointer;
    padding: 10px;
}

.fpsLabel {
    position: absolute;
    top: 0px;
    left: 0px;
}
